<a href="https://colab.research.google.com/github/faris-alsherif/AI-course-ITI/blob/main/Lab_1_ITI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Q1 in image</h1>

In [11]:
num1 = 3
num2 = 4
num3 = 5

#a
print(num1+num2)
print(num3-num1)
print(num1*num2+num3)
print(num1*(num2+num3))
print(num3/num1)
print(num3//num1)
print(num3%num1)

print('================')

#b
fnum1 = float(num1)
fnum2 = float(num2)
fnum3 = float(num3)

print(fnum1+fnum2)
print(fnum3-fnum1)
print(fnum1*fnum2+fnum3)
print(fnum1*(fnum2+fnum3))
print(fnum3/fnum1)
print(fnum3//fnum1)
print(fnum3%fnum1)

7
2
17
27
1.6666666666666667
1
2
================
7.0
2.0
17.0
27.0
1.6666666666666667
1.0
2.0

<h1>Q2 in image</h1>

In [13]:
x = 1
y = 2
z = 3
g = 4

#a
print(x+y*z/g)

#b
print(y**z)

2.5
8

<h1>Q3 in image</h1>

In [20]:
from pickle import STRING
from typing_extensions import Concatenate
str_a = 'Python'
str_b = ' is a '
str_c = ' times fun language'
num = 1000

#a
str_ab = str_a + str_b + str(num) + str_c
print(str_ab)

#b
str_a10 = str_a*10
print(str_a10)

Python is a 1000 times fun language
PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

<h1>Q4 in image</h1>

In [43]:
num1 = -5
num2 = 3.2
num3 = 5.7
num4 = 625

#a
print(abs(num1))

#b
print(round(num2))
print(round(num3))

#c
print(num4**0.5)

5
3
6
25.0

<h1>Q5 in image</h1>

In [49]:
oper = str(input("""Select your operation:
a)add two num    b)sub two num
c)multiply two num   d)divide two num
"""))

num1 = int(input('Enter first num'))
num2 = int(input('Enter second num'))

if oper == 'a':
  print(num1 + num2)
if oper == 'b':
  print(num1 - num2)
if oper == 'c':
  print(num1 * num2)
if oper == 'd':
  print(num1 / num2)
else:
  print('Please select between the choises')

Select your operation:
a)add two num    b)sub two num
c)multiply two num   d)divide two num
d
Enter first num7
Enter second num2
3.5

<h1>Odd or Even quest. in pdf</h1>

In [28]:
n = int(input('Enter a number '))

if n%2 == 0 :
 print('Your number is Even')
else:
  print('Your number is Odd')

Enter a number 7
Your number is Odd

<h1>Pass or Fail quest. in pdf</h1>

In [31]:
degree = int(input('Enter your degree '))

if degree >= 50 :
  print('Pass')
else:
  print('Fail')

Enter your degree 50
Pass

<h1>Largest of 3 numbers quest. in pdf</h1>

In [37]:
num1 = int(input('Enter your first num '))
num2 = int(input('Enter your second num '))
num3 = int(input('Enter your third num '))

if num1 > num2 :
  the_big = num1
if num1 < num2 :
   the_big = num2
if num3 > num1 and num3 > num2 :
  the_big = num3

print(the_big)

Enter your frist num 1
Enter your second num 3
Enter your third num 2
3

<h1>Counting with for quest. in pdf</h1>

In [38]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

<h1>Grade Calculator quest. in pdf</h1>

In [55]:
result = int(input('Enter your result '))

if result >= 90 and result <= 100:
  print('A')
elif result >= 80 and result <= 89:
  print('B')
elif result >= 70 and result <= 79:
  print('C')
elif result >= 60 and result <= 69:
  print('D')
else:
  print('F')

Enter your result 60
D

<h1>Multiplication Table quest. in pdf</h1>

In [60]:
num = int(input('Enter your num '))

for i in range(1,11):
  print(num,'*',i,'=',num*i)

Enter your num 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

<h1>Sum of Even Numbers quest. in pdf</h1>

In [61]:
sum = 0
for i in range(1,51):
  if i%2 == 0:
    sum += i
print(sum)

650

<h1>Factorial with while quest. in pdf</h1>

In [75]:
num = int(input('Enter your num '))
result = 1

while num > 1:
  result *= num
  num -= 1

print(result)

Enter your num 3
6